.list__title--category {
    display: inline-block;
    margin-left: 0;
    width: 200px;
    text-align: left;
    border-bottom: 1px solid black;
    border-left: 1px dotted rgb(255, 255, 255);
    position: relative;
    left: 20px;
}

.list__column-line {
    list-style: none;
    text-align: left;
    margin: 20px auto;
    border-bottom: 1px solid black;
    width: 200px;
}

.list__column-category {
    background-color: none;
    margin: 0px auto 0px 2px;
    text-align: left;
    border: none;
}

.list__column-category--textbox {
    display: inline-block;
    width: 80px;
    height: 20px;
    margin-right: 5px;
    padding: 1px;
    border: none;
    text-align: left;
}