.header {
    background: #000;
    height:80px;
    border: 1px solid rgb(255, 255, 255);
}

.header__inner {
    margin: 0 0;
    padding: 15px 15px;
    max-width: 100%;
    align-items: center;
    border:1px solid rgb(182, 52, 52);
}

.header__logo{
    color: #fff;
    display:inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.category__button{
    color: #fff;
    display:inline-block;
    position: absolute;
    right: 0%;
    top: 40px;
    transform: translateX(-50%);
}

.form,.find{
    display:inline-block;
    width:600px;
    margin:60px auto;
    text-align: center;
    border:3px solid rgb(255, 255, 255);
    position: relative;
    left: 50%;
    top : 50%;
    transform: translateX(-50%);
}

.form__title,.find__title{
    display: block;
    margin: 10px 30px;
    text-align: left;
}

.form__input-content,.find__input-content{
    padding: 10px;
    width: 70px;
    border: 0px solid #ddd;
}

.form__input-cate,.find__input-cate{
    padding: 10px;
    width: 70px;
    border: 0px solid #ddd;
}

.form__input-box,.find__input-box{
    width: 200px;
    height: 30px
}

.form__button,.find__button{
    width: 200px;
    height: 30px;
}

.form__button-submit,.find__button-submit{
    margin: auto;
    border: 0;
    width:100px;
    height:30px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color:white;
    font-weight: bold;
}

.list{
    margin: 0 auto;
    text-align: center;
}

.content__title {
    display:inline-block;
    margin-right: 0;
    width:140px;
    text-align: left;
    border-bottom:1px solid black;
    border-left:1px dotted red;
    position:relative;
    left:20px;
}

.category__title {
    display: inline-block;
    margin-left: 0;
    width: 260px;
    text-align: left;
    border-bottom: 1px solid black;
    border-left: 1px dotted red;
    position: relative;
    left: 20px;
}