.list__title--content {
    display: inline-block;
    margin-right: 0;
    width: 140px;
    text-align: left;
    border-bottom: 1px solid black;
    border-left: 1px dotted rgb(255, 255, 255);
    position: relative;
    left: 20px;
}

.list__title--category {
    display: inline-block;
    margin-left: 0;
    width: 260px;
    text-align: left;
    border-bottom: 1px solid black;
    border-left: 1px dotted rgb(255, 255, 255);
    position: relative;
    left: 20px;
}

.list__column-line {
    list-style: none;
    text-align: left;
    margin: 20px auto;
    border-bottom: 1px solid black;
    width: 400px;
}

.list__column-category {
    background-color: none;
    width: 130px;
}

.list__column-content--textbox {
    display: inline-block;
    width: 130px;
    height: 20px;
    margin-right: 5px;
    padding: 1px;
    border: none;
    text-align: left;
}